* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.container{
    border: 4px solid white;
    border-radius:  25px;
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows:  75px;
    background-color: wheat;
    padding-left: 0.3rem;;
    min-height: 28%;
    min-width: 220px;
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: 1px solid black;
}

button {
    border: 0.1rem solid black;
    height: 50px;
    width: 50px;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    border-radius: 50px;
}

#operators:focus {
    background-color: red;
}

.equal-sign {
    width: 10rem;;
}

.project-title{
    margin-bottom: 5rem;
    text-align: center;
}